 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="container-fluid">
    <h1 align="left">William Lam</h1>
    <p align="left"><span class="glyphicon glyphicon-envelope"></span>  La.william4@gmail.com <span class="glyphicon glyphicon-git-branch"></span> https://github.com/WilliLam</p>
</div>
<div class="container-fluid" align="center">
    <div class="row" style="width:50%;" align="center">
        <div class="col-sm-4 navs"><a href="./" class="hyperlink"><h4>Home</h4></a></div>
        <div class="col-sm-4 "><a href="./CV.html" class="hyperlink"><h4>Experience</h4></div>
        <div class="col-sm-4 navs"><a href="./" class="hyperlink"><h4>Blog</h4></a></div>
    </div>
</div>
<br>
<br>